<div class="footer">
  <div class="left">
    <!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup">
		<form action="http://allisonlevine.us5.list-manage.com/subscribe/post?u=755f206d44e12aa6fec386a19&amp;id=41eac66a45" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
		   <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;"><input type="text" name="b_755f206d44e12aa6fec386a19_41eac66a45" value=""></div>
			<div class="clear">
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
			</div>
		</form>
		</div>

		<!--End mc_embed_signup-->
  </div>
  <div class="right">
    <ul>
						<li><a href="http://twitter.com/allilevine" target="_blank">Twitter</a></li>
            <li><a href="https://www.instagram.com/offtheblueprint/" target="_blank">Instagram</a></li>
					</ul>
  </div>
</div>
<div class="creativecommons">
    <p><a href="{{ site.url }}">{{ site.title }}</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
</div>
